@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&family=Roboto+Condensed:wght@700&family=Poppins:wght@100&display=swap');

	
html {
    background-color: #f1f3f9; /*배경색*/
}


body {

    -ms-overflow-style: none;
	-webkit-touch-callout: none; 
	user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none; 
	-webkit-user-select: none;
	padding: 0;
	margin: 0;
   } 
   
   
::-webkit-scrollbar { 
    display: none; 
    }

	#nav{
		width: 100%;
		height: 70px;
		padding-top: 40px;
		margin-bottom: 40px;
		position: fixed;
		background-color: #f1f3f9;
		z-index: 99;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		}

#navComp_a{
	height: 70px;
	width: 15%;
	min-width: 200px;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	display: flex;
}

#navComp_b{
	height: 70px;
	width: 70%;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	display: flex;

}
#navComp_c{
	height: 70px;
	width: 15%;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	display: flex;
}

#exit {
    position: relative;
    height: 40px;
    width: 40px;
    opacity: 55%;
	z-index: 99;
	transform: translate(-50%, 0);
	margin: 0 0 0 80px;

}

#exitNoti {
    position: relative;
    opacity: 0%;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #313339;
    overflow: hidden;
    -ms-user-select: none; -moz-user-select: none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;
	z-index: 98;
	transform: translate(-50px, 0);

}

			 
#ham {
	position: relative;
	height: 0px;
	width: 0px;
	opacity: 55%;
	transform: translate(0%, 0);
	z-index: 99;
	overflow: hidden;
	}	 

#subject{
	transform: translate(0, -0.1rem);
	position: relative;
	color: #313339;
	font-size: 2rem;
	text-align: center;
	opacity: 100%;
	font-weight: 100;
	font-family: 'Noto Sans KR', sans-serif;
	}

#burger {
	position: fixed;
	height: 0px;
	width: 0%;
	left: 200%;
	}	

#burger_x {
	position: relative;
	height: 0px;
	width: 0px;
	}		 
			 
#container {
    top: 120px;
    position:relative;
	width: 70%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;


}


.sec {
position: relative;
display: flex;
flex-direction: column;
justify-content: center;  
width: 48%;
opacity: 0%;
align-items: center;
margin-top: 100px;
margin-bottom: 20px;
}








#footers {
    position: relative;
    width: 100%;
    height: 200px;
	top: 200px;
	display: flex;
	flex-direction: column;
	margin-top: 30px;
}
	
			
#footers_image {
	position: relative;
	transform: translate(-50%, 0%);
	left: 50%;
	height: 30px;

}
#footer_image {
	position: relative;
	transform: translate(-50%, 0%);
	left: 50%;
	height: 30px;

}			
			
#footer_text {
    color: #a1a5a9;
    text-align: center;
    font-weight: 100;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
	position: relative;
}

.title {
	color: #515359;
    text-align: left;
	position: relative;
	width: 100%;
	display: flex;
	align-items: baseline;
	flex-direction: column;
	justify-content: flex-start;
	flex-wrap: wrap;
	left: 20px;
}
	
.work {

text-align: left;
font-weight: 100;
font-family: 'Noto Sans KR', sans-serif;
font-size: 100%;
position: relative;
width: 100%;
height: 0px;

		 }

.name {

font-weight: 100;
font-family: 'Noto Sans KR', sans-serif;
font-size: 0.8rem;
position: relative;
width: 100%;


		 }
		
.pic {
	overflow: hidden;
	position: relative;
	width: 100%;
	border-radius: 27px;
	box-shadow: 0px 6px 12px #31333911;
	}



    #remote {
        position: fixed;
        width: 40px;
        top:200px;
        left:80px;
        transform: translate(-50%, 0%);
        z-index: 99;
        display: block;
        opacity: 100%;
    }
    .icon{
        transform: translate(0%, 32%);
    }
    .rLay {
        display: flex;
        width: auto;
        margin-bottom: 10px;
    }
    .rButton {
        width: 40px;
        height: 40px;
        opacity: 66%;
        text-align: center;
        border-radius: 100%;
        background-color: #d1d5d9;

    }
    .rEmptyButton {
        width: 40px;
        height: 40px;
    }
    .rText { 
        position: absolute;
        height: 38px;
        width: auto;
		white-space: nowrap;
		word-wrap: normal;
		word-break: keep-all;
        opacity: 0%;
        transform: translate(0, -22px);
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: 100;
        font-size: 22px;
        color: #313339;
        /*overflow: hidden;*/
        -ms-user-select: none; -moz-user-select: none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;
        z-index: -98;
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur( 10px );
		border: solid 0px transparent;
		background-clip: padding-box;
		background: rgba(255,255,255,0.6);
		box-shadow: 0px 6px 12px rgba(49,53,57,0.1);
		border-radius: 100px;
		padding: 2px 15px 0 15px;
    }	



.subjectPanel {

		position: absolute;
		left:60px;
		height: 0px;
		min-width: 180px;
		padding-right: 36px;
		transform: translate(0%, 0%);
		z-index: 99;
		border-radius: 20px;
		overflow: hidden;
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur( 10px );
		border: solid 0px transparent;
		background-clip: padding-box;
		background: rgba(255,255,255,0.6);
		box-shadow: 0px 6px 12px rgba(49,53,57,0.1);
		}

			 
			 
#s3 {
    top:50px;
	}
			 
#s2 {
    top:100px;
	}	
			 
#s1 {
    top:150px;
	}		
			 
			 
			 
	.menu {
		list-style: none;
		line-height: 40px;
		font-weight: 400;
    	font-family: 'Noto Sans KR', sans-serif;
    	font-size: 14px; 
		top: 10px;
		text-decoration: none;
		color: #000000;
			 }
			 
	.menuText {
		text-decoration: none;
		color: #000000;
			 }
			
	.menuText:hover {
        color: #3349BF;
			}

	
	.grad {
		font-size: 21px;
		font-weight: 700;
			 }
			 
			 
			 #quitMenu {
				width: 40px;
			 	height: 40px;
	
				background-color: #FE2F9C; /*리모컨 패널 닫기버튼 배경색*/
				border-radius: 200px;
				margin-bottom: 10px;
				opacity: 0%;
				position: fixed;
				top:-50px;
    			left:0px;
				transform: translate(0%, 0%);
				z-index: 100;
				 text-align: center;

				 
			 }
	
	
	
	
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 @media screen and (max-width: 720px) {
			


	body { 
    -ms-overflow-style: none;
	-webkit-touch-callout: none; 
	user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none; 
	-webkit-user-select: none;
	padding: 0;
	margin: 0;
   } 
   
   
::-webkit-scrollbar { 
    display: none; 
    }



#nav{
	width: 100%;
	height: 56px;
	padding-top: 0px;
	margin-bottom: 40px;
	position: fixed;
	z-index: 99;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	}

		
	#navComp_a{
		min-width: auto;
}
	


#exit {
	position: relative;
	height: 24px;
	width: 24px;
	margin: 0 0 0 15px;
	transform: translate(0%,0);
	z-index: 99;
	}
		
#exitNoti {
	display: none;
	position: absolute;
	}
		
					 

		#subject{
			position: relative;

			font-size: 16px;
			font-weight: 400;
			font-family: 'Noto Sans KR', sans-serif;

		}

		#ham {
			position: relative;
			height: 24px;
			width: 24px;
			margin: 0 15px 0 0;
			z-index: 99;
		}	 

		#burger {
			position: fixed;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			width: 100%;
			height: 100%;
			overflow: scroll;
			transform: translate(0%, 0%);
			left: 200%;
			top: 0;
			opacity: 100%;
			z-index: 100;
			backdrop-filter: blur(5px);
			-webkit-backdrop-filter: blur( 10px );
			border: solid 0px transparent;
			background-clip: padding-box;
			background: rgba(51, 54, 57, 0.8);
			box-shadow: 0px 6px 12px rgba(49,53,57,0.4);
				}	

		.category{
			background-color: #fafbfc;
			padding: 10%;
			position: relative;
			width: 50%;
			margin: 0 20px 20px 0;
			border-radius: 20px;
		}

		#burger_x {
			position: relative;
			height: 24px;
			width: 24px;
			margin: 15px;
			opacity: 100%;
			z-index: 99;
		}	


		.head{
		font-weight: 700;
		font-family: 'Noto Sans KR', sans-serif;
		font-size: 0.8rem;
		color: #000000;
		text-decoration: none;
		}

		.neck{
		font-weight: 100;
		font-family: 'Noto Sans KR', sans-serif;
		font-size: 1.2rem;
		color: #000000;
		text-decoration: none;
		}

#container {	
	top: 54px;
	position:relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	}
		
		
.sec {
	position: relative;
	margin-bottom: 300px;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;  
	width: fit-content;
	margin: 20px;
	opacity: 0%;
	}






#footers {
    position: relative;
    width: 100%;
    height: auto;
	display: flex;
	flex-direction: column;
}
	
			
#footers_image {
	position: relative;
	transform: translate(-50%, 0%);
	left: 50%;
	width: 150px;

}
#footer_image {
	position: relative;
	transform: translate(-50%, 0%);
	width: 100%;
	height: auto;

}			
			
#footer_text {
    color: #a1a5a9;
    text-align: center;
    font-weight: 100;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.8rem;
	position: relative;
}

.title {
    text-align: left;
	position: relative;
	width: 100%;
	display: flex;
	align-items: baseline;
	flex-direction: column;
	justify-content: flex-start;
	flex-wrap: wrap;
	left: 0px;
}
	
.work {
	text-align: left;
	font-weight: 100;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 1rem;
	position: relative;
	width: 100%;
	height: 0px;
	left: 15px;
	}

.name {
	font-weight: 100;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 0.8rem;
	position: relative;
	width: auto;
	left: 15px;
	}

.pic {
	overflow: hidden;
	position: relative;
	width: 100%;
	border-radius: 20px;
	}
		 
				 
			
			 
#remote {
	position: fixed;
    width: 0px;
	height: 0px;
    transform: translate(-50%, 0%);
	z-index: 99;
	display: block;
	opacity: 0%;
	display: none;
	 }

			 

			 
			 
				 
			 }

