* {
    /* border: solid 1px red!important; */
}
body {
    overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@100&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* page_1 ----------------------------------------------- */
.page_1{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #447EF2;
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
}
.text_box1 {
    position: absolute;
    left: 21%;
    top: 40%;
    transform: translate(-50%, -50%);
}
.text_box1 > h3 {
    font-size: 1.5vw;
    margin-bottom: 0.3vw;
    padding-left: 6px;
}
.text_box1 > h1 {
    font-size: 5vw;
    font-weight: bold;
}
.text_box1 > h2 {
    font-size: 3vw;
    font-weight: lighter;
    padding-left: 2px;
}
.text_box2 {
    position: absolute;
    right: 2%;
    bottom: 5%;
    text-align: right;
    transform: translate(-50%, -50%);
}
.text_box2 > h2 {
    font-size: 1.5vw;
    font-weight: bold;
    margin-bottom: 10px;
}
.text_box2 > p {
    font-size: 1vw;
    padding-bottom: 0.3vw;
    font-weight: lighter;
}
/* page_2 ------------------------------------------------------------ */
.page_2 {
    position: relative;
    width: 100vw;
    height: 100vh;
    font-family: 'Noto Sans KR', sans-serif;
}
.left_box {
    position: absolute;
    left: 0;
    top: 0;
    width: 35vw;
    height: 100vh;
    background-color: #77ACF2;
    color: #fff;
    z-index: 2;
}
.left_box > img {
    position: absolute;
    left: 50%;
    top: 35%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
.left_box > h2 {
    position: absolute;
    font-size: 1.3vw;
    left: 22%;
    top: 10%;
}
.left_box > h1 {
    position: absolute;
    font-size: 1.5vw;
    left: 50% ;
    transform: translateX(-50%);
    top: 53%;
    width: 19vw;
    font-weight: lighter;
}
.hobby {
    position: relative;
    width: 19vw;
    height: 4vw;
    top: 62%;
    left: 50% ;
    transform: translateX(-50%);
}
.hobby > h2 {
    position: absolute;
    font-size: 1.2vw;
    width: 19vw;
    border-bottom: 1px solid #E9F0F2;
    font-weight: bold;
}
.hobbylist {
    position: absolute;
    width: 19vw;
    height: 1.5vw;
    top: 45%;
    font-size: 1.2vw;
    font-weight: lighter;
}
.hobbylist > a > li {
    float: left;
    width: auto;
    text-align: center;
    margin-right: 0.5vw;
}
.about {
    position: relative;
    width: 19vw;
    height: 12vw;
    left: 50% ;
    transform: translateX(-50%);
    top: 65%;
}
.about > h2 {
    position: absolute;
    font-size: 1.2vw;
    width: 19vw;
    border-bottom: 1px solid #E9F0F2;
    font-weight: bold;
}
.aboutlist {
    position: absolute;
    top: 20%;
    font-size: 1.2vw;
    font-weight: lighter;
    height: 9.5vw;
}
.aboutlist > a > li {
    margin-bottom: 1vw;
}
.aboutcontent {
    position: absolute;
    top: 20%;
    left: 40%;
    font-size: 1.1vw;
    font-weight: lighter;
    height: 16.5vh;
}
.aboutcontent > a > li {
    margin-bottom: 1.1vw;
}
.main_box {
    background-color: rgba(233, 240, 242, 0.5);
    position: relative;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
}
.profile_1 {
    position: absolute;
    width: 20vw;
    height: 24.5vh;
    top: 20%;
    left: 43%;
}
.profile_1 > h2 {
    position: relative;
    height: 5vh;
    font-size: 2vw;
    font-weight: bold;
    color: #447EF2;
    border-bottom: 1px solid #77ACF2;
}
.profile_1 > p {
    position: relative;
    top: 20%;
    font-size: 1.2vw;
    margin-bottom: 1vw;
    font-weight: lighter;
    color: #aaa;
    font-style: italic;
}
.profile_2 {
    position: absolute;
    top: 30%;
    left: 61%;
    width: 20vw;
    height: 14vh;
}
.profile_2 > p {
    color: #aaa;
    font-size: 1.2vw;
    margin-bottom: 1vw;
    font-weight: lighter;
    font-style: italic;
}
.skill {
    position: absolute;
    width: 49.5vw;
    height: 30vh;
    top: 55%;
    left: 43%;
}
.skill > h2 {
    width: 20vw;
    color: #447EF2;
    font-weight: bold;
    font-size: 2vw;
    height: 2.7vw;
    border-bottom: 1px solid #77ACF2;
    margin-bottom: 1vw;
}
.skill_icon {
    position: absolute;
    width: 100%;
    height: 50%;
    transition: 0.3s;
}
.skill_icon > div:hover {
    transform: scale(1.2);
    transition: 0.3s;
}
.ai {
    position: absolute;
    width: 20%;
    height: 100%;
    background-image: url(img/icon/Ai_icon.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.ps {
    position: absolute;
    width: 20%;
    height: 100%;
    left: 20%;
    background-image: url(img/icon/Ps_icon.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.mx {
    position: absolute;
    width: 20%;
    height: 100%;
    left: 40%;
    background-image: url(img/icon/3M_icon.png);
    background-size: 72%;
    background-position: center;
    background-repeat: no-repeat;
}
.ut {
    position: absolute;
    width: 20%;
    height: 100%;
    left: 60%;
    background-image: url(img/icon/Ut_icon.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.vs {
    position: absolute;
    width: 20%;
    height: 100%;
    left: 80%;
    background-image: url(img/icon/VS_icon.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.skill_list {
    position: absolute;
    width: 100%;
    height: 27%;
    left: 0;
    top: 73%;
    text-align: center;
}
.skill_list > div > h2 {
    font-size: 1.2vw;
    font-weight: bold;
    margin: 1vw 0;
}
.skill_list > div > p {
    font-size: 1.1vw;
}
#ai {
    position: absolute;
    width: 20%;
    height: 100%;
}
#ps {
    position: absolute;
    width: 20%;
    height: 100%;
    left: 20%;
}#mx {
    position: absolute;
    width: 20%;
    height: 100%;
    left: 40%;
}#ut {
    position: absolute;
    width: 20%;
    height: 100%;
    left: 60%;
}#vs {
    position: absolute;
    width: 20%;
    height: 100%;
    left: 80%;
}
/* page_3 ----------------------------------------------------------------------------------- */
.page_3 {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #447EF2 ;
    font-family: 'Noto Sans KR', sans-serif;
}
.page_3 > h1 {
    position: absolute;
    top: 40%;
    left: 8%;
    font-size: 4vw;
    font-weight: bold;
    color: #fff;
}
.line_1 {
    position: absolute;
    width: 83.5vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom: 3px solid #E9F0F2 ;
}
.text_box3 {
    position: relative;
    top: 55%;
    left: 60%;
    color: #fff;
    width: 35vw;
    height: 20vw;
}
.text_box3 > div > h2 {
    position: absolute;
    font-weight: normal;
    width: 50%;
    font-size: 1.3vw;
}
.first_semester {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
}
.first_semester > p {
    position: relative;
    width: 50%;
    top: 0;
    left: 50%;
    font-size: 1.3vw;
    margin-bottom: 0.7vw;
    font-weight: lighter;
}
.second_semester {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 40%;
}
.second_semester > p {
    position: relative;
    width: 50%;
    top: 0;
    left: 50%;
    font-size: 1.3vw;
    margin-bottom: 0.7vw;
    font-weight: lighter;
}
/* Page_4 ---------------------------------------------------------------------- */
.page_4 {
    position: relative;
    width: 100vw;
    height: 100vh;
}