* {
    /* border: solid 1px red!important; */
}
body {
    overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@100&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* navigation */
.navigation {
    position: fixed;
    width: 90vw;
    height: 2vw;
    left: 50%;
    top: 2%;
    transform: translate(-50%, -50%);
    z-index: 10;
}
.ng_list {
    position: relative;
    float: left;
    left: 50%;
    margin: 2vw;
    font-size: 1.1vw;
    transition: 0.2s;
    color: rgb(117, 117, 117);
    font-weight: bold;
}
.ng_list:hover {
    transform: scale(1.1);
    transition: 0.2s;
    cursor: pointer;
    color: #000;
    font-weight: bold;
}
.navigation > ul > li > a {
    text-decoration: none;
}

/* page_1 ----------------------------------------------- */
.page_1{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #447EF2;
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
}
.text_box1 {
    position: absolute;
    left: 21%;
    top: 40%;
    transform: translate(-50%, -50%);
}
.text_box1 > h3 {
    font-size: 1.5vw;
    margin-bottom: 0.3vw;
    padding-left: 6px;
}
.text_box1 > h1 {
    font-size: 5vw;
    font-weight: bold;
}
.text_box1 > h2 {
    font-size: 3vw;
    font-weight: lighter;
    padding-left: 2px;
}
.text_box2 {
    position: absolute;
    right: 2%;
    bottom: 5%;
    text-align: right;
    transform: translate(-50%, -50%);
}
.text_box2 > h2 {
    font-size: 1.5vw;
    font-weight: bold;
    margin-bottom: 10px;
}
.text_box2 > p {
    font-size: 1vw;
    padding-bottom: 0.3vw;
    font-weight: lighter;
}
/* page_2 ------------------------------------------------------------ */
.page_2 {
    position: relative;
    width: 100vw;
    height: 100vh;
    font-family: 'Noto Sans KR', sans-serif;
}
.left_box {
    position: absolute;
    left: 0;
    top: 0;
    width: 35vw;
    height: 100vh;
    background-color: #77ACF2;
    color: #fff;
    z-index: 2;
}
.left_box > img {
    position: absolute;
    left: 23%;
    top: 15%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
.left_box > h2 {
    position: absolute;
    font-size: 1.3vw;
    left: 22%;
    top: 10%;
}
.left_box > h1 {
    position: absolute;
    font-size: 1.5vw;
    left: 23% ;
    transform: translateX(-50%);
    top: 53%;
    width: 19vw;
    font-weight: lighter;
}
.hobby {
    position: relative;
    width: 19vw;
    height: 4vw;
    top: 62%;
    left: 23% ;
    transform: translateX(-50%);
}
.hobby > h2 {
    position: absolute;
    font-size: 1.2vw;
    width: 19vw;
    border-bottom: 1px solid #E9F0F2;
    font-weight: bold;
}
.hobbylist {
    position: absolute;
    width: 19vw;
    height: 1.5vw;
    top: 45%;
    font-size: 1.2vw;
    font-weight: lighter;
}
.hobbylist > a > li {
    float: left;
    width: auto;
    text-align: center;
    margin-right: 0.5vw;
}
.about {
    position: relative;
    width: 19vw;
    height: 12vw;
    left: 50% ;
    transform: translateX(-50%);
    top: 65%;
}
.about > h2 {
    position: absolute;
    font-size: 1.2vw;
    width: 19vw;
    border-bottom: 1px solid #E9F0F2;
    font-weight: bold;
}
.aboutlist {
    position: absolute;
    top: 20%;
    font-size: 1.2vw;
    font-weight: lighter;
    height: 9.5vw;
}
.aboutlist > a > li {
    margin-bottom: 1vw;
}
.aboutcontent {
    position: absolute;
    top: 20%;
    left: 40%;
    font-size: 1.1vw;
    font-weight: lighter;
    height: 16.5vh;
}
.aboutcontent > a > li {
    margin-bottom: 1.1vw;
}
.main_box {
    background-color: rgba(233, 240, 242, 0.5);
    position: relative;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
}
.profile_1 {
    position: absolute;
    width: 20vw;
    height: 24.5vh;
    top: 20%;
    left: 43%;
}
.profile_1 > h2 {
    position: relative;
    height: 5vh;
    font-size: 2vw;
    font-weight: bold;
    color: #447EF2;
    border-bottom: 1px solid #77ACF2;
}
.profile_1 > p {
    position: relative;
    top: 20%;
    font-size: 1.2vw;
    margin-bottom: 1vw;
    font-weight: lighter;
    color: #aaa;
    font-style: italic;
}
.profile_2 {
    position: absolute;
    top: 30%;
    left: 61%;
    width: 20vw;
    height: 14vh;
}
.profile_2 > p {
    color: #aaa;
    font-size: 1.2vw;
    margin-bottom: 1vw;
    font-weight: lighter;
    font-style: italic;
}
.skill {
    position: absolute;
    width: 49.5vw;
    height: 30vh;
    top: 55%;
    left: 43%;
}
.skill > h2 {
    width: 20vw;
    color: #447EF2;
    font-weight: bold;
    font-size: 2vw;
    height: 2.7vw;
    border-bottom: 1px solid #77ACF2;
    margin-bottom: 1vw;
}
.skill_icon {
    position: absolute;
    width: 100%;
    height: 50%;
    transition: 0.3s;
}
.skill_icon > div:hover {
    transform: scale(1.2);
    transition: 0.3s;
}
.ai {
    position: absolute;
    width: 20%;
    height: 100%;
    background-image: url(img/icon/Ai_icon.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.ps {
    position: absolute;
    width: 20%;
    height: 100%;
    left: 20%;
    background-image: url(img/icon/Ps_icon.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.mx {
    position: absolute;
    width: 20%;
    height: 100%;
    left: 40%;
    background-image: url(img/icon/3M_icon.png);
    background-size: 72%;
    background-position: center;
    background-repeat: no-repeat;
}
.ut {
    position: absolute;
    width: 20%;
    height: 100%;
    left: 60%;
    background-image: url(img/icon/Ut_icon.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.vs {
    position: absolute;
    width: 20%;
    height: 100%;
    left: 80%;
    background-image: url(img/icon/VS_icon.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.skill_list {
    position: absolute;
    width: 100%;
    height: 27%;
    left: 0;
    top: 73%;
    text-align: center;
}
.skill_list > div > h2 {
    font-size: 1.2vw;
    font-weight: bold;
    margin: 1vw 0;
}
.skill_list > div > p {
    font-size: 1.1vw;
}
#ai {
    position: absolute;
    width: 20%;
    height: 100%;
}
#ps {
    position: absolute;
    width: 20%;
    height: 100%;
    left: 20%;
}#mx {
    position: absolute;
    width: 20%;
    height: 100%;
    left: 40%;
}#ut {
    position: absolute;
    width: 20%;
    height: 100%;
    left: 60%;
}#vs {
    position: absolute;
    width: 20%;
    height: 100%;
    left: 80%;
}
/* page_3 ----------------------------------------------------------------------------------- */
.page_3 {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #447EF2 ;
    font-family: 'Noto Sans KR', sans-serif;
}
.page_3 > h1 {
    position: absolute;
    top: 40%;
    left: 8%;
    font-size: 4vw;
    font-weight: bold;
    color: #fff;
}
.line_1 {
    position: absolute;
    width: 83.5vw;
    top: 50%;
    left: 8.5%;
    transform: translate(-50%, -50%);
    border-bottom: 3px solid #E9F0F2 ;
}
.text_box3 {
    position: relative;
    top: 55%;
    left: 60%;
    color: #fff;
    width: 35vw;
    height: 20vw;
}
.text_box3 > div > h2 {
    position: absolute;
    font-weight: normal;
    width: 50%;
    font-size: 1.3vw;
}
.first_semester {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
}
.first_semester > p {
    position: relative;
    width: 50%;
    top: 0;
    left: 50%;
    font-size: 1.3vw;
    margin-bottom: 0.7vw;
    font-weight: lighter;
}
.second_semester {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 40%;
}
.second_semester > p {
    position: relative;
    width: 50%;
    top: 0;
    left: 50%;
    font-size: 1.3vw;
    margin-bottom: 0.7vw;
    font-weight: lighter;
}
/* Page_4 ---------------------------------------------------------------------- */
.page_4 {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #E9F0F2;
}
.text_box4 {
    position: absolute;
    width: 30%;
    height: 50%;
    top: 70%;
    left: 73%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text_box4 > h1 {
    font-weight: bold;
    font-size: 2vw;
    margin-bottom: 1vw;
    color: #447EF2;
}
.text_box4 > p {
    font-weight: normal;
    font-size: 1vw;
    line-height: 130%;
    color: #77ACF2
}

.section {
    position: relative;
    width: 30vw;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
    border: 1px solid black ;
}
.section input[id*="slide"] {
    display: none;
}
.section .slidewrap {
    max-width: 30vw;
    max-height: 100vh;
    top: 0;
    margin: 0 auto;
    overflow: hidden;
}
.section .slidelist {
    white-space: nowrap;
    font-size: 0;
}
.section .slidelist > li {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: all .6s;
}
.section .slidelist > li > a {
    display: block;
    position: relative;
}
.section .slidelist > li > a img {
    width: 100%;
}
.section .slidelist label {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform:  translateY(-50%);
    padding: 50px;
    cursor: pointer;
}
.section .slidelist .left {
    left: 5px;
    background: url(./img/icon/left-arrow.png) center center / 3vw no-repeat;
}
.section .slidelist .right {
    right: 5px;
    background: url(./img/icon/right-arrow.png) center center / 3vw no-repeat;
}
.section input[id="slide01"]:checked ~ .slidewrap .slidelist > li {transform: translateX(0%);}
.section input[id="slide02"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-100%);}
.section input[id="slide03"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-200%);}
.section input[id="slide04"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-300%);}
.section input[id="slide05"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-400%);}
.section input[id="slide06"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-500%);}
.section input[id="slide07"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-600%);}
.section input[id="slide08"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-700%);}
.section input[id="slide09"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-800%);}
.section input[id="slide10"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-900%);}
.section input[id="slide11"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-1000%);}
.section input[id="slide12"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-1100%);}
.section input[id="slide13"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-1200%);}
.section input[id="slide14"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-1300%);}
.section input[id="slide15"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-1400%);}
.section input[id="slide16"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-1500%);}
.section input[id="slide17"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-1600%);}
.section input[id="slide18"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-1700%);}
.section input[id="slide19"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-1800%);}
.section input[id="slide20"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-1900%);}
.section input[id="slide21"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-2000%);}
.section input[id="slide22"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-2100%);}
.section input[id="slide23"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-2200%);}
.section input[id="slide24"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-2300%);}
.section input[id="slide25"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-2400%);}
.section input[id="slide26"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-2500%);}
.section input[id="slide27"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-2600%);}
.section input[id="slide28"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-2700%);}
.section input[id="slide29"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-2800%);}
.section input[id="slide30"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-2900%);}
.section input[id="slide31"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-3000%);}
.section input[id="slide32"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-3100%);}
.section input[id="slide33"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-3200%);}
.section input[id="slide34"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-3300%);}
.section input[id="slide35"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-3400%);}
.section input[id="slide36"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-3500%);}
.section input[id="slide37"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-3600%);}
.section input[id="slide38"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-3700%);}
.section input[id="slide39"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-3800%);}
.section input[id="slide40"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-3900%);}
.section input[id="slide41"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-4000%);}
.section input[id="slide42"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-4100%);}
/* Page_5 -------------------------------------------------------------------------------------------- */
.page_5 {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #77ACF2;
    color: #fff;
}
.text_box5 {
    position: absolute;
    width: 30%;
    height: 50%;
    top: 70%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text_box5 > h1 {
    font-weight: bold;
    font-size: 2vw;
    margin-bottom: 1vw;
    color: #fff;
}
.text_box5 > p {
    font-weight: normal;
    font-size: 1vw;
    line-height: 130%;
}
.section_2 {
    position: relative;
    width: 30vw;
    top: 50%;
    left: 60%;
    transform: translateY(-50%);
    border: 1px solid black ;
}
.section_2 input[id*="slide2"] {
    display: none;
}
.section_2 .slidewrap_2 {
    max-width: 30vw;
    max-height: 100vh;
    top: 0;
    margin: 0 auto;
    overflow: hidden;
}
.section_2 .slidelist_2 {
    white-space: nowrap;
    font-size: 0;
}
.section_2 .slidelist_2 > li {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: all .6s;
}
.section_2 .slidelist_2 > li > a {
    display: block;
    position: relative;
}
.section_2 .slidelist_2 > li > a img {
    width: 100%;
}
.section_2 .slidelist_2 label {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform:  translateY(-50%);
    padding: 50px;
    cursor: pointer;
}
.section_2 .slidelist_2 .left_2 {
    left: 5px;
    background: url(./img/icon/left-arrow.png) center center / 3vw no-repeat;
}
.section_2 .slidelist_2 .right_2 {
    right: 5px;
    background: url(./img/icon/right-arrow.png) center center / 3vw no-repeat;
}
.section_2 input[id="slide2-01"]:checked ~ .slidewrap_2 .slidelist_2 > li {transform: translateX(0%);}
.section_2 input[id="slide2-02"]:checked ~ .slidewrap_2 .slidelist_2 > li {transform: translateX(-100%);}
.section_2 input[id="slide2-03"]:checked ~ .slidewrap_2 .slidelist_2 > li {transform: translateX(-200%);}
.section_2 input[id="slide2-04"]:checked ~ .slidewrap_2 .slidelist_2 > li {transform: translateX(-300%);}
.section_2 input[id="slide2-05"]:checked ~ .slidewrap_2 .slidelist_2 > li {transform: translateX(-400%);}
.section_2 input[id="slide2-06"]:checked ~ .slidewrap_2 .slidelist_2 > li {transform: translateX(-500%);}
.section_2 input[id="slide2-07"]:checked ~ .slidewrap_2 .slidelist_2 > li {transform: translateX(-600%);}
.section_2 input[id="slide2-08"]:checked ~ .slidewrap_2 .slidelist_2 > li {transform: translateX(-700%);}
.section_2 input[id="slide2-09"]:checked ~ .slidewrap_2 .slidelist_2 > li {transform: translateX(-800%);}
.section_2 input[id="slide2-10"]:checked ~ .slidewrap_2 .slidelist_2 > li {transform: translateX(-900%);}
/* Page_6------------------------------------------------------------------------------------------- */
.page_6 {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #E9F0F2;
    color: #77ACF2;
}
.text_box6 {
    position: absolute;
    width: 30%;
    height: 50%;
    top: 70%;
    left: 73%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text_box6 > h1 {
    font-weight: bold;
    font-size: 2vw;
    margin-bottom: 1vw;
    color: #447EF2;
}
.text_box6 > p {
    font-weight: normal;
    font-size: 1vw;
    line-height: 130%;
}
.section_3 {
    position: relative;
    width: 30vw;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
}
.section_3 input[id*="slide3"] {
    display: none;
}
.section_3 .slidewrap_3 {
    max-width: 30vw;
    max-height: 100vh;
    top: 0;
    margin: 0 auto;
    overflow: hidden;
}
.section_3 .slidelist_3 {
    white-space: nowrap;
    font-size: 0;
}
.section_3 .slidelist_3 > li {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: all .6s;
}
.section_3 .slidelist_3 > li > a {
    display: block;
    position: relative;
}
.section_3 .slidelist_3 > li > a img {
    width: 100%;
}
.section_3 .slidelist_3 label {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform:  translateY(-50%);
    padding: 50px;
    cursor: pointer;
}
.section_3 .slidelist_3 .left_3 {
    left: 5px;
    background: url(./img/icon/left-arrow.png) center center / 3vw no-repeat;
}
.section_3 .slidelist_3 .right_3 {
    right: 5px;
    background: url(./img/icon/right-arrow.png) center center / 3vw no-repeat;
}
.section_3 input[id="slide3-01"]:checked ~ .slidewrap_3 .slidelist_3 > li {transform: translateX(0%);}
.section_3 input[id="slide3-02"]:checked ~ .slidewrap_3 .slidelist_3 > li {transform: translateX(-100%);}
/* Page_7 ----------------------------------------------------------- */
.page_7 {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #77ACF2;
    color: #fff;
}
.text_box7 {
    position: absolute;
    width: 30%;
    height: 50%;
    top: 70%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text_box7 > h1 {
    font-weight: bold;
    font-size: 2vw;
    margin-bottom: 1vw;
    color: #fff;
}
.text_box7 > p {
    font-weight: normal;
    font-size: 1vw;
    line-height: 130%;
}
.section_4 {
    position: relative;
    width: 30vw;
    top: 50%;
    left: 60%;
    transform: translateY(-50%);
}
.section_4 input[id*="slide4"] {
    display: none;
}
.section_4 .slidewrap_4 {
    max-width: 30vw;
    max-height: 100vh;
    top: 0;
    margin: 0 auto;
    overflow: hidden;
}
.section_4 .slidelist_4 {
    white-space: nowrap;
    font-size: 0;
}
.section_4 .slidelist_4 > li {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: all .6s;
}
.section_4 .slidelist_4 > li > a {
    display: block;
    position: relative;
}
.section_4 .slidelist_4 > li > a img {
    width: 100%;
}
.section_4 .slidelist_4 label {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform:  translateY(-50%);
    padding: 50px;
    cursor: pointer;
}
.section_4 .slidelist_4 .left_4 {
    left: 5px;
    background: url(./img/icon/left-arrow.png) center center / 3vw no-repeat;
}
.section_4 .slidelist_4 .right_4 {
    right: 5px;
    background: url(./img/icon/right-arrow.png) center center / 3vw no-repeat;
}
.section_4 input[id="slide4-01"]:checked ~ .slidewrap_4 .slidelist_4 > li {transform: translateX(0%);}
.section_4 input[id="slide4-02"]:checked ~ .slidewrap_4 .slidelist_4 > li {transform: translateX(-100%);}
.section_4 input[id="slide4-03"]:checked ~ .slidewrap_4 .slidelist_4 > li {transform: translateX(-200%);}
.section_4 input[id="slide4-04"]:checked ~ .slidewrap_4 .slidelist_4 > li {transform: translateX(-300%);}
.section_4 input[id="slide4-05"]:checked ~ .slidewrap_4 .slidelist_4 > li {transform: translateX(-400%);}
.section_4 input[id="slide4-06"]:checked ~ .slidewrap_4 .slidelist_4 > li {transform: translateX(-500%);}
.section_4 input[id="slide4-07"]:checked ~ .slidewrap_4 .slidelist_4 > li {transform: translateX(-600%);}
.section_4 input[id="slide4-08"]:checked ~ .slidewrap_4 .slidelist_4 > li {transform: translateX(-700%);}
.section_4 input[id="slide4-09"]:checked ~ .slidewrap_4 .slidelist_4 > li {transform: translateX(-800%);}
/* page_8 ----------------------------------------------------------- */
.page_8 {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #E9F0F2;
    color: #77ACF2;
}
.text_box8 {
    position: absolute;
    width: 30%;
    height: 50%;
    top: 70%;
    left: 73%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text_box8 > h1 {
    font-weight: bold;
    font-size: 2vw;
    margin-bottom: 1vw;
    color: #447EF2;
}
.text_box8 > p {
    font-weight: normal;
    font-size: 1vw;
    line-height: 130%;
}
.section_5 input[id*="slide5"] {
    display: none;
}
.section_5 {
    position: relative;
    width: 35vw;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
}
.section_5 input[id*="slide3"] {
    display: none;
}
.section_5 .slidewrap_5 {
    max-width: 35vw;
    max-height: 100vh;
    top: 0;
    margin: 0 auto;
    overflow: hidden;
}
.section_5 .slidelist_5 {
    white-space: nowrap;
    font-size: 0;
}
.section_5 .slidelist_5 > li {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: all .6s;
}
.section_5 .slidelist_5 > li > a {
    display: block;
    position: relative;
}
.section_5 .slidelist_5 > li > a img {
    width: 100%;
}
.section_5 .slidelist_5 label {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform:  translateY(-50%);
    padding: 50px;
    cursor: pointer;
}
.section_5 .slidelist_5 .left_5 {
    left: 5px;
    background: url(./img/icon/left-arrow.png) center center / 3vw no-repeat;
}
.section_5 .slidelist_5 .right_5 {
    right: 5px;
    background: url(./img/icon/right-arrow.png) center center / 3vw no-repeat;
}
.section_5 input[id="slide5-01"]:checked ~ .slidewrap_5 .slidelist_5 > li {transform: translateX(0%);}
.section_5 input[id="slide5-02"]:checked ~ .slidewrap_5 .slidelist_5 > li {transform: translateX(-100%);}
.section_5 input[id="slide5-03"]:checked ~ .slidewrap_5 .slidelist_5 > li {transform: translateX(-200%);}
.section_5 input[id="slide5-04"]:checked ~ .slidewrap_5 .slidelist_5 > li {transform: translateX(-300%);}
.section_5 input[id="slide5-05"]:checked ~ .slidewrap_5 .slidelist_5 > li {transform: translateX(-400%);}
.section_5 input[id="slide5-06"]:checked ~ .slidewrap_5 .slidelist_5 > li {transform: translateX(-500%);}
.section_5 input[id="slide5-07"]:checked ~ .slidewrap_5 .slidelist_5 > li {transform: translateX(-600%);}
.section_5 input[id="slide5-08"]:checked ~ .slidewrap_5 .slidelist_5 > li {transform: translateX(-700%);}
.section_5 input[id="slide5-09"]:checked ~ .slidewrap_5 .slidelist_5 > li {transform: translateX(-800%);}
.section_5 input[id="slide5-10"]:checked ~ .slidewrap_5 .slidelist_5 > li {transform: translateX(-900%);}
.section_5 input[id="slide5-11"]:checked ~ .slidewrap_5 .slidelist_5 > li {transform: translateX(-1000%);}
.section_5 input[id="slide5-12"]:checked ~ .slidewrap_5 .slidelist_5 > li {transform: translateX(-1100%);}
.section_5 input[id="slide5-13"]:checked ~ .slidewrap_5 .slidelist_5 > li {transform: translateX(-1200%);}
/* Footer---------------------------------------------------------------------------------------------- */
.footer {
    position: relative;
    width: 100vw;
    height: 40vh;
    background-color: #77ACF2;
}
.text_box9 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}
.text_box9 > h1 {
    font-size: 2vw;
    margin-bottom: 2vw;
    font-weight: bold;
}
.text_box9 > p {
    font-size: 1vw;
    font-weight: lighter;
}
.end {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}