@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&family=Roboto+Condensed:wght@700&family=Poppins:wght@100&display=swap');
	


	.links {
		color: #eaebec;
	}
	.links:hover {
		color: #BFA9FE;
	}

	body {
background-color: #000;
-ms-overflow-style: none;
-webkit-touch-callout: none; 
user-select: none; 
-moz-user-select: none; 
-ms-user-select: none; 
-webkit-user-select: none;
padding: 0;
margin: 0;
transform: skewY(-13deg);
} 


	
::-webkit-scrollbar { 
    display: none; 
    }

#container {
	top: -200px;
    position:relative;
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
    transform: scale(0.8);

}

#sec1 {
position: relative;
display: flex;
flex-direction: column;
justify-content: center;  
opacity: 100%;
align-items: flex-start;
margin-top: 100px;
margin-bottom: 100px;
color: #fff;
line-height: 40px;
font-weight: 100;
font-family: 'Noto Sans KR', sans-serif;

}
#back{
position: relative;
left: -330px;
top: 190px;
color: #fff;
font-size: 50px;
opacity: 60%;
}
#back:hover{
    transform: translateX(-20px);
    transition: 1s;
    opacity: 100%;
}


h1{font-weight: 900; font-size: 50px;}
h2{font-weight: 700; font-size: 30px;}
h3{font-weight: 300; font-size: 25px;}
h4{font-weight: 500; font-size: 20px;}


 @media screen and (max-width: 720px) {
.links {
		color: #eaebec;
	}
.links:hover {
		color: #ffde58;
	}

	body { 
	background-color: #000000;
    -ms-overflow-style: none;
	-webkit-touch-callout: none; 
	user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none; 
	-webkit-user-select: none;
	padding: 0;
	margin: 0;
    transform: skewY(0deg);
   } 
			 	 
#container {
	top: -300px;
    left: 20px;
    position:relative;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

#sec1 {
position: relative;
margin-bottom: 300px;

align-items: flex-start;
width: 90%;
margin: 0 auto;
margin-top: 100px;
color: #ffffff;
line-height: 3;
font-weight: 400;
font-family: 'Noto Sans KR', sans-serif;
}

#back{
    transform: scale(0.6);
    left: -220px;
    top: 260px;
}
h1{font-size:2rem; font-weight: 700;}
h2{font-size:1rem; font-weight: 700; line-height: 1.4rem;}
h3{font-size: 0.8rem; font-weight: 100; line-height: 1.2rem;}
h4{font-weight: 700;}
h5{font-weight: 100;}
			 }