body {
    overflow-x: hidden;
}
/* page1 */
.page1 {
    position: relative;
    background-color: #F2F2F2;
    width: 100vw;
    height: 100vh;
}
.box1 {
    position: absolute;
    background-color: #9080F2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    height: 60%;
}
.text_box1 {
    position: relative;
    color: #f2f2f2;
    top: 49%;
    left: 77%;
    transform: translate(-50%, -50%);
}
.text_box1 > h1 {
    font-size: 9vw;
    font-weight: bold;
}
.text_box1 > h2 {
    position: relative;
    font-size: 6vw;
    left: 20%;
}
.text_box1 > h3 {
    position: relative;
    left: 5%;
    font-size: 4vw;
}
.text_box1 > h4 {
    position: relative;
    font-size: 7vw;
    font-weight: lighter;
    left: 16%;
}
.text_box1 > h5 {
    position: relative;
    font-size: 6vw;
}