/* * {border: 1px solid red!important;} */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
body {
    overflow-x: hidden;
}
/* 네비게이션 */
.nv {
    background-color: rgba(0,0,0,0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 8vh;
    z-index: 2;
    font-family: 'Nanum Gothic', sans-serif;
}
.logo {
    position: absolute;
    width: 10vw;
    height: 8vh;
}
.logo > a {
    position: relative;
    color: #000;
    font-size: 1vw;
    top: 20%;
    left: 25%;
    font-weight: bold;
    text-decoration: none;
    transition: 0.2s;
}
.logo > a:hover {
    transition: 0.2s;
    color: #614BF2;
}
.menu {
    position: absolute;
    width: 50vw;
    height: 8vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.menu > a {
    position: relative;
    float: left;
    color: #000;
    font-size: 1vw;
    top: 50%;
    left: 40%;
    text-decoration: none;
    margin-left: 1vw;
    transition: 0.2s;
    transform: translateY(-50%);
}
.menu > a:hover {
    transition: 0.2s;
    color: #614BF2;
}
.slidemenu {
    position: absolute;
    width: 10vw;
    height: 8vh;
    left: 90%;
}
.slidemenu > a > img {
    position: absolute;
    left: 55%;
    top: 15%;
}
/* page2 */
.page2 {
    position: relative;
    background-color: #F2F2F2;
    width: 100vw;
    height: 100vh;
    font-family: 'Nanum Gothic', sans-serif;
}
.slidemenu {
    position: absolute;
    width: 10vw;
    height: 8vh;
    left: 90%;
}
.slidemenu > a > img {
    position: absolute;
    left: 55%;
    top: 15%;
}
.header {
    position: relative;
    width: 100%;
    height: 30%;
    top: 10%;
    left: 32%;
}
.header > h1 {
    font-size: 9vw;
    font-weight: 800;
    color: #614BF2;
}
.textbox_2 {
    position: relative;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 60%;
    color: #705CF2;
}
.profile {
    position: absolute;
    top: 0;
    width: 30%;
    height: 45%;
}
.profile > h2 {
    font-size: 2vw;
    font-weight: 700;
    margin-bottom: 5%;
}
.profile > p {
    margin-bottom: 3%;
    font-size: 1vw;
}
.ability {
    position: absolute;
    top: 0;
    left: 50%;
    width: 30%;
    height: 45%;
}
.abbox {
    position: absolute;
    width: 25%;
    height: 45%;
}
.abbar {
    position: absolute;
    left: 30%;
    width: 70%;
    height: 50%;
}
.ai {
    position: absolute;
    background-color: #705CF2;
    width: 70%;
    height: 10%;
    top: 0;
}
.ps {
    position: absolute;
    background-color: #705CF2;
    width: 50%;
    height: 10%;
    top: 1.9vw;
}
.dm {
    position: absolute;
    background-color: #705CF2;
    width: 60%;
    height: 10%;
    top: 3.8vw;
}
.ut {
    position: absolute;
    background-color: #705CF2;
    width: 50%;
    height: 10%;
    top: 5.8vw;
}
.vs {
    position: absolute;
    background-color: #705CF2;
    width: 90%;
    height: 10%;
    top: 7.7vw;
}
.ability > h2 {
    font-size: 2vw;
    font-weight: 700;
    margin-bottom: 5%;
}
.ability > .abbox > p {
    margin-bottom: 15%;
    font-size: 1vw;
    text-align: right;
}
.contact {
    position: absolute;
    top: 50%;
    width: 30%;
    height: 45%;
}
.contact > h2 {
    font-size: 2vw;
    font-weight: 700;
    margin-bottom: 5%;
}
.contact > p {
    margin-bottom: 3%;
    font-size: 1vw;
}
.education {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30%;
    height: 45%;
}
.education > h2 {
    font-size: 2vw;
    font-weight: 700;
    margin-bottom: 5%;
}
.education > p {
    margin-bottom: 3%;
    font-size: 1vw;
}





/* 모바일 */
@media (max-width: 640px) {
    body {
        overflow-x: hidden;
    }
    .header {
        position: relative;
        width: 100%;
        height: 20%;
    }
    .textbox_2 {
        width: 70%;
        height: 60%;
        position: relative;
        left: 25%;
    }
    .profile {
        width: 70%;
        height: 20%;
        position: absolute;
        left: 0;
    }
    .contact {
        width: 70%;
        height: 20%;
        position: absolute;
        left: 0;
        top: 30%;
    }
    .ability {
        width: 70%;
        position: absolute;
        left: 0;
        top: 60%;
    }
    .education {
        width: 70%;
        height: 20%;
        position: absolute;
        left: 0;
        top: 100%;
    }
    .ai {
        position: absolute;
        width: 70%;
        height: 7%;
        top: 0.5vw;
    }
    .ps {
        position: absolute;
        width: 50%;
        height: 7%;
        top: 5.5vw;
    }
    .dm {
        position: absolute;
        width: 60%;
        height: 7%;
        top: 10.5vw;
    }
    .ut {
        position: absolute;
        width: 50%;
        height: 7%;
        top: 15.5vw;
    }
    .vs {
        position: absolute;
        width: 90%;
        height: 7%;
        top: 21vw;
    }
    .profile > h2 {
        font-size: 4vw;
    }
    .profile > p {
        font-size: 3vw;
    }
    .ability > h2 {
        font-size: 4vw;
    }
    .ability > .abbox > p {
        font-size: 3vw;
    }
    .contact > h2 {
        font-size: 4vw;
    }
    .contact > p {
        font-size: 3vw;
    }
    .education > h2 {
        font-size: 4vw;
    }
    .education> p {
        font-size: 3vw;
    }

    .nv {
        background-color: #f2f2f2;
        position: relative;
        top: 0;
        left: 0;
        width: 100vw;
        height: 8vh;
        z-index: 2;
        font-family: 'Nanum Gothic', sans-serif;
    }
    .logo {
        position: absolute;
        width: 20vw;
        height: 8vh;
    }
    .logo > a {
        font-size: 4vw;
    }
    .menu > a {
        font-size: 3vw;
        left: 20%;
        margin-right: 3vw;
    }
}