/* * {border: 1px solid red !important;} */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
body {
    overflow-x: hidden;
}
/* 네비게이션 */
.nv {
    background-color: rgba(0,0,0,0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 8vh;
    z-index: 2;
    font-family: 'Nanum Gothic', sans-serif;
}
.logo {
    position: absolute;
    width: 10vw;
    height: 8vh;
}
.logo > a {
    position: absolute;
    color: #000;
    font-size: 1vw;
    top: 20%;
    left: 25%;
    font-weight: bold;
    text-decoration: none;
    transition: 0.2s;
}
.logo > a:hover {
    transition: 0.2s;
    color: #614BF2;
}
.menu {
    position: absolute;
    width: 50vw;
    height: 8vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.menu > a {
    position: relative;
    float: left;
    color: #000;
    font-size: 1vw;
    top: 50%;
    left: 40%;
    text-decoration: none;
    margin-left: 1vw;
    transition: 0.2s;
    transform: translateY(-50%);
}
.menu > a:hover {
    transition: 0.2s;
    color: #614BF2;
}
/* page1 */
.page1 {
    position: relative;
    background-color: #F2F2F2;
    width: 100vw;
    height: 100vh;
    font-family: 'Nanum Gothic', sans-serif;
}
.box1 {
    position: absolute;
    background-color: #9080F2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    height: 60%;
}
.text_box1 {
    position: absolute;
    color: #f2f2f2;
    top: 18%;
    left: 27%;
    height: 65%;
    /* transform: translate(-50%, -50%); */
}
.text_box1 > h1 {
    position: relative;
    font-size: 8.5vw;
    font-weight: bold;
}
.text_box1 > h2 {
    position: relative;
    font-size: 6vw;
    left: 20%;
}
.text_box1 > h3 {
    position: relative;
    left: 5%;
    font-size: 4vw;
}
.text_box1 > h4 {
    position: relative;
    font-size: 7vw;
    font-weight: lighter;
    left: 16%;
}
.text_box1 > h5 {
    position: relative;
    font-size: 6vw;
}


@media screen and (max-width: 640px) {
    .nv {
        background-color: rgba(0,0,0,0);
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 8vh;
        z-index: 2;
        font-family: 'Nanum Gothic', sans-serif;
    }
    .logo {
        position: absolute;
        width: 20vw;
        height: 8vh;
    }
    .logo > a {
        font-size: 4vw;
    }
    .menu > a {
        font-size: 3vw;
        left: 20%;
        margin-right: 3vw;
    }
}