body {
    overflow-x: hidden;
}
/* 네비게이션 */
.nv {
    background-color: rgba(0,0,0,0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 8vh;
    z-index: 2;
}
.logo {
    position: absolute;
    width: 10vw;
    height: 8vh;
}
.logo > a {
    position: absolute;
    color: #000;
    font-size: 1vw;
    top: 20%;
    left: 25%;
    font-weight: bold;
    text-decoration: none;
    transition: 0.2s;
}
.logo > a:hover {
    transition: 0.2s;
    color: #614BF2;
}
.menu {
    position: absolute;
    width: 50vw;
    height: 8vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.menu > a {
    position: relative;
    float: left;
    color: #aaa;
    font-size: 1vw;
    top: 30%;
    left: 40%;
    text-decoration: none;
    margin-left: 1vw;
    transition: 0.2s;
}
.menu > a:hover {
    transition: 0.2s;
    color: #614BF2;
}
/* page3 */
.page3 {
    position: relative;
    background-color: #F2F2F2;
    width: 100vw;
    height: 100vh;
}